SERVER_URL=http://192.168.129.48
DB=mongodb+srv://amorr:amorr_nupenta@amorr.ch4qpeu.mongodb.net
DB_NAME=amorr
PORT=8005
AUTH_EMAIL_NAME=amorr
AUTH_EMAIL=hello@amorr.in
AUTH_PASS=@yushMatrix@morr24
ACCESS_TOKEN_SECRET=@morr24A
REFRESH_TOKEN_SECRET=@morr24R
REFRESH_TOKEN_EXPIRY=30d
ACCESS_TOKEN_EXPIRY=30d